beautifulsoup4==4.5.3
cx-Oracle==6.0rc1
dj-database-url==0.4.2
Django==1.11.3
django-tables2==1.10.0
gunicorn==19.7.1
lxml==3.7.2
psycopg2==2.6.2
pytz==2017.2
requests==2.13.0
Unidecode==0.4.21
virtualenv==15.1.0
whitenoise==3.3.0
